.container {
    padding-top: 100px;
    height: 90vh;
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 50px;
  }
  .cell {
    /* padding-top: 100px; */
    width: 200px;
    height: 250px;
    left: 160px;
    top: 198px;

    background: #000000;
    border: 3px solid #000000;
    box-sizing: border-box;
  }

  .cellTitle {
    /* position: absolute;
    width: 176px;
    height: 59px;
    left: 322px;
    top: 664px; */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 59px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;

  }

  .circlePic {
    padding-left: 37px;
    padding-top: 30px;
  }


  .title {
    padding-top: 400px;
    /* width: 448px;
    height: 59px;
    left: 736px;
    top: 62px; */

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    /* identical to box height */

    text-align: center;

    color: #000000;
  }